.user-item-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.user-item-container label {
  margin: 0 10px 5px 10px;
  font-size: 14px;
  color: #fff;
  background: rgb(189, 100, 166);
  border-radius: 5px;
  width: fit-content;
  font-weight: normal;
  box-sizing: border-box;
  padding: 10px;
}

.user-item-messages {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bot-user-img {
  height: 40px;
}
