.home-container {
  width: 200px;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

.home-content {
  width: 85%;
  height: 100%;
  position: absolute;
  margin: auto;
}

.home-greeting {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #432b51;
}

.home-greeting label {
  margin-bottom: 10px;
  text-align: center;
}

.home-greeting h1 {
  margin-bottom: 10px;
  text-align: center;
}
