.chatbot-chat-input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbot-chat-input-container input {
  width: 80%;
  border: 1px solid rgb(38, 115, 151);
  color: rgb(3, 44, 63);
  background: rgb(191, 211, 221);
  height: 35px;
  font-family: "Poppins";
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 25px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
}

.chatbot-chat-input-container input::placeholder {
  color: rgb(13, 93, 129);
  font-size: 14px;
}

.chatbot-chat-input-container button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgb(3, 69, 100);
  background: rgb(46, 110, 139);
  background-image: url("../../../assets/images/send-regular-24.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

button:hover {
  background-color: rgb(191, 211, 221);
  cursor: pointer;
}
