.bot-item-container {
  display: flex;
  max-width: 90%;
}

.bot-item-img {
  height: 50px;
}

.bot-item-container label {
  margin: 0 0 5px 10px;
  font-size: 14px;
  color: #fff;
  background: rgb(3, 69, 100);
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  font-weight: normal;
  box-sizing: border-box;
}

.bot-item-messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.memes-images {
  height: 50vw;
  width: auto;
}
