.selector-container {
  width: 100%;
  height: auto;
}

.selector-content {
  width: 80%;
  height: fit-content;
  background: rgb(211, 142, 193);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  padding: 10px 0 5px 15px;
  margin: 10px 0 10px auto;
}

.selector-options label {
  background: rgb(128, 62, 110);
  width: 90%;
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-family: "Poppins";
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 5px 5px 5px 10px;
  justify-content: center;
}

.selector-options label:hover {
  background: rgb(104, 144, 163);
}
